<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Predict the positions of C1' atoms of RNA sequences">
    <meta name="keywords" content="RNA, RNA folding, diffusion">
    <meta name="author" content="Pirotte Tim, Windels Maxim">
    <title>Reset Password</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset_password.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/reset_password.js') }}"></script>
</head>
<body>
    <h1>Reset Password</h1>
    <form id="login">
        <label for="mail">e-mail</label>
        <input type="email" id="mail" maxlength="255">
        <button type="submit">Send reset link</button>
    </form>
</body>
