REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=rna_folding
POSTGRES_POOL_SIZE=5
POSTGRES_MAX_OVERFLOW=10

SESSION_TTL=60
MIN_SEQ_LEN=2
MAX_SEQ_LEN=1024
MIN_FOLDS=1
MAX_FOLDS=9
MIN_STEPS=1
MAX_STEPS=25
